{% extends 'base.html' %} {% block title %} Add a Pet {% endblock %} {% block
header %} Add a Pet {% endblock %} {% block content %}
<div>
    <form id="add-pet-form" method="post">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
        != 'hidden' %}
        <p>
            {{ field.label }} {{ field }} {% for error in field.errors %} {{
            error }} {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <form action='/'>
        <button>Cancel</button>
    </form>
</div>

{% endblock %}
