{% extends 'base.html' %} {% block title %} Pet Listings {% endblock %} {% block
header %}
<h1>Pet Listings</h1>
{% endblock %} {% block content %}
    <button><a href="/add">Add a Pet</a></button>
    {% for msg in get_flashed_messages() %} {{msg}} {% endfor %}

    <div>
        <h2>Available Pets:</h2>
        {% for pet in pets %}
            {% if pet.available=="Available" %}
            <h4><a href=/pet/{{pet.id}}>{{pet.name}}</a></h4>
            <br />
            <img src="{{pet.image_url}}" style="width: 200px" /><br/>
            {% endif %}
        {% endfor %}
            
        <h2>Unavailable Pets:</h2>
            {% for pet in pets %}
                {% if pet.available=="Not Available" %}
                <h4><a href=/pet/{{pet.id}}>{{pet.name}}</a></h4>
                <br />
                <img src="{{pet.image_url}}" style="width: 200px" /><br/>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}
